/* src/styles/About.css */
#about {
    background-color: #ecf0f1;
  }
  
  #about p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  #about-title {
    font-size: 2.0rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1abc9c;
    padding: 50px 20px;
    max-width: 1000px;
    height: 150px;
  }