#project-title {
  font-size: 2.0rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #1abc9c;
  padding: 50px 20px;
  max-width: 1000px;
  height: 150px;
}

#projects h3 {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.accordion-item {
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.accordion .accordion-item:hover {
  border-radius: 5px;
}

.accordion-title {
  background-color: #e5e6e7;
  color: rgb(14, 14, 14);
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.accordion-title:hover {
  background-color: #d4d7d6;
}

.accordion-title h3 {
  margin: 0;
  font-size: 1.2rem;
  width: 70%;
  text-align: left;
  padding-left: 40px;
}

.accordion-title h5 {
  width: 20%;
}

.accordion-title span {
  font-size: 1.5rem;
  width: 5%;
}

.accordion-content {
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  animation: fadeIn 0.3s ease-in-out;
  text-align: left;
}

ul li {
  margin-top: 10px;
}

.desktop {
  display: block;
}

.responsive {
  display: none;
  font-size: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #project-title{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #project-title h2 { 
    margin: 0;
    margin-top: 20px;
  }

  .accordion-title {
    flex-direction: column;
    align-items: flex-start;
  }

  .accordion-title h3, .accordion-title h5 {
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 10px;
    width: auto;
    padding: 0 40px;
    text-align: left;
  }

  .responsive {
    display: block;
    font-size: 16px;
  }

  .responsiveDown {
    padding: 20px 0;
  }

  .desktop {
    display: none;
    font-size: 12px;
  }

  .accordion-title .seeDetails span {
    font-size: 16px;
    width: auto;
  }

  section {
    padding: 15px 20px;
    max-width: 1000px;
    margin: 0 auto;
  }  

  .accordion-content ul {
    padding-left: 15px;
  }
}
